@import '../../styles/colors.scss';

.iconWrap {
    display: flex;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 3px -1px $invalidDark;
    justify-content: center;
    align-items: center;
    
    &.red {
        background-color: $invalid;
    }

    &.green {
        background-color: $valid;
    }

    .icon {
        height: 16px;
        width: 16px;
    }
}